{% extends "theme/base.html" %}
{% load wagtailcore_tags chrome_tags %}

{% block main_class %}pt-0{% endblock %}

{% block content %}
  {% hero_context page headline=page.title subheadline=page.short_description as hero %}
  {% include "sum_core/blocks/hero_gradient.html" with hero=hero %}

  {# Body StreamField content #}
  {% if page.body %}
    {% for block in page.body %}
      {% if not block|is_header_block %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
